/* customers styles */
.cardContainer {
	width: 90%;
	margin-top: 20px;
	margin-left: -10px;
}

.cardContainer .col-xs-3 {
	padding-left: 0px;
	padding-right: 0px;
}

.card {
	height: 75px;
	width: 225px;
	background-color: #efefef;
	border: 1px solid black;
	margin-bottom: 20px;
	margin-left: 8px;
}

.card-name {
	font-size: 16px;
	line-height: 28px;
	height: 28px;
	color: white;
	background-color: #006dcc;
}

.card-name span {
	margin-left: 5px;
}

.close {
	font-size: 16px;
	color: white;
	opacity: 1;
	margin-right: 5px;
	line-height: 28px;
}

.card-city {
	margin-left: 5px;
}

.view-orders {
	margin-left: 5px;
}





/* orders styles */
.orders-form {
	width: 90%;
	margin-left: 0px;
}

table {
	margin-bottom: 10px;
	border: 1px solid gray;
	border-radius: 4px;
}

caption {
	padding-bottom: 0px;
	font-weight: bold;
	font-size: 19px;
}


tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.orders-form-header > * {
	background-color: #006dcc;
	font-weight: bold;
	color: white;
	padding-left: 5px;
}

.orders-form-body > * {
	padding-left: 5px;
}

.orders-form-last > * {
	background-color: #d9edf7;
	padding-left: 5px;	
}

.error {
	background-color: #f2dede;
}


/* customer orders styles */
.customer-info {
	margin-left: 20px;
	margin-top: 20px;
}

.customer-name {
	font-size: 17px;
}

.customer-address {
	margin-top: 8px;
}

.customer-orders-form {
	margin-left: 20px;
	margin-top: 50px;
}

.include-form {
	margin-left: 20px;
	margin-top: 50px;
}










.container {
	width: 99%;
	margin-left: 10px;
	margin-top: -15px;
}



















































