<div class="customerOrders">
	<div class="container">
		<h3><strong>Customer Orders</strong></h3>
		<div class="customer-info">
			<strong class="customer-name"><span>Orders for </span>{{ customer.firstName + " " + customer.lastName }}</strong>
			<div class="customer-address">
				<span>{{ customer.address }}</span><br>
				<span>{{ customer.city }}</span>
			</div>
		</div>

		<!-- customer orders table -->
		<div class="customer-orders-form">
			<table class="orders-form">
	    		<tr class="orders-form-header">
	    			<td>Product</td>
	    			<td>Quantity</td>
	    			<td>Unit Price</td>
	    			<td>Total</td>
	    		</tr>
	    		<tr class="orders-form-body">
	    			<td>a</td>
	    			<td>b</td>
	    			<td>c</td>
	    			<td>d</td>    			
	    		</tr>
	    		<tr class="orders-form-body">
	    			<td>a</td>
	    			<td>b</td>
	    			<td>c</td>
	    			<td>d</td>    			
	    		</tr>
	    		<tr class="orders-form-last">
	    			<td colspan="3">a</td>
	    			<td><strong>d</strong></td>
	    		</tr>
	    	</table>			
		</div>
	</div>
</div>