<div>
  <div class="container">

    <!-- input field -->
    <h2>Customers</h2>
    <div class="row">
      <div class="col-sm-3">
        <span>First Name:</span>
        <br>
        <input class="form-control" placeholder="First Name" ng-model="firstName">
      </div>
      <div class="col-sm-3">
        <span>Last Name:</span>
        <br>
        <input class="form-control" placeholder="Last Name" ng-model="lastName">
      </div>
      <div class="col-sm-3">
        <span>City:</span>
        <br>
        <input class="form-control" placeholder="Customer City" ng-model="city">
      </div>
      <div class="col-sm-3">
        <br>
        <button class="btn btn-primary" ng-click="addCustomer(firstName, lastName, city)">Add Customer</button>
      </div>
    </div>



    <!-- customers cards container -->
    <div class="row cardContainer">
      <div class="col-xs-3 card" ng-repeat="customer in customers">
        <div class="card-name">
          <span>{{ customer.firstName + " " + customer.lastName }}</span>
          <button class="close" ng-click="removeCustomer(customer.id)">&times;</button>
        </div>
        <div class="card-city">
          {{ customer.city }}
        </div>
        <a class="view-orders" href="">View <span> {{ customer.orders.length }} </span> Orders</a>
      </div>

     <!--  <div class="col-xs-3 card">
        <div class="card-name">
          <span>Bowen Zhong</span>
          <button class="close">&times;</button>
        </div>
        <div class="card-city">
          Shanghai
        </div>
        <a class="view-orders" href="">View 2 Orders</a>
      </div>

      <div class="col-xs-3 card">
        <div class="card-name">
          <span>Bowen Zhong</span>
          <button class="close">&times;</button>
        </div>
        <div class="card-city">
          Shanghai
        </div>
        <a class="view-orders" href="">View 2 Orders</a>
      </div>

      <div class="col-xs-3 card">
        <div class="card-name">
          <span>Bowen Zhong</span>
          <button class="close">&times;</button>
        </div>
        <div class="card-city">
          Shanghai
        </div>
        <a class="view-orders" href="">View 2 Orders</a>
      </div>

      <div class="col-xs-3 card">
        <div class="card-name">
          <span>Bowen Zhong</span>
          <button class="close">&times;</button>
        </div>
        <div class="card-city">
          Shanghai
        </div>
        <a class="view-orders" href="">View 2 Orders</a>
      </div>

      <div class="col-xs-3 card">
        <div class="card-name">
          <span>Bowen Zhong</span>
          <button class="close">&times;</button>
        </div>
        <div class="card-city">
          Shanghai
        </div>
        <a class="view-orders" href="">View 2 Orders</a>
      </div>
      
      <div class="col-xs-3 card">
        <div class="card-name">
          <span>Bowen Zhong</span>
          <button class="close">&times;</button>
        </div>
        <div class="card-city">
          Shanghai
        </div>
        <a class="view-orders" href="">View 2 Orders</a>
      </div> -->
    </div>
  </div>
</div>