<div class="orders-view">
  <div class="container">
    <h3>All Customers Orders</h3>
    	<table class="orders-form">
    		<caption><a href="">Bowen</a></caption>
    		<tr class="orders-form-header">
    			<td>Product</td>
    			<td>Quantity</td>
    			<td>Unit Price</td>
    			<td>Total</td>
    		</tr>
    		<tr class="orders-form-body">
    			<td>a</td>
    			<td>b</td>
    			<td>c</td>
    			<td>d</td>    			
    		</tr>
    		<tr class="orders-form-body">
    			<td>a</td>
    			<td>b</td>
    			<td>c</td>
    			<td>d</td>    			
    		</tr>
    		<tr class="orders-form-last">
    			<td colspan="3">a</td>
    			<td><strong>d</strong></td>
    		</tr>
    	</table>

			<table class="orders-form">
    		<caption><a href="">Bowen</a></caption>
    		<tr class="orders-form-header">
    			<td>Product</td>
    			<td>Quantity</td>
    			<td>Unit Price</td>
    			<td>Total</td>
    		</tr>
    		<tr class="orders-form-body">
    			<td>a</td>
    			<td>b</td>
    			<td>c</td>
    			<td>d</td>    			
    		</tr>
    		<tr class="orders-form-body">
    			<td>a</td>
    			<td>b</td>
    			<td>c</td>
    			<td>d</td>    			
    		</tr>
    		<tr class="orders-form-last">
    			<td colspan="3">a</td>
    			<td><strong>d</strong></td>    			
    		</tr>   		    		 		
    	</table>    	
  </div>
</div>